*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* gradient background*/
.bg{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #0600ff, #005aff, #0082ff, #00a3ff, #3ac0ff);
    /* background: #DFF6FF; */
    color: #525252;
    background-position: center;
    background-size: cover;
    position: absolute;
}

/*Logo*/

.logocarx{
    width: 180px;
    margin-left: 143.5px;
}

/*Navigation Bar*/
nav{
    background: #1a1a1a;
    width: 98.7%;
    padding: 12px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

nav ul{
    width: 100%;
    text-align: right;
    margin-right: 144px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}

/*white box*/
.form-box{
    width: 400px;
    height: 485px;
    position: relative;
    margin: 6% auto;
    /* background: #fff; */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    padding: 5px;
    overflow: hidden; 
}

/*button bg*/
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 30px 6px #C3F8FF;
    border-radius: 30px;
}

/*button*/
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative; 
    color: #fffefe;
}

/*color in button*/
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #3AB4F2,#1F4690);
    border-radius: 30px;
    transition: .5s;
}

/*social media button*/
.social-media-login{
    margin: 30px auto;
    text-align: center;
}
.social-media-login img{
    width: 38px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}

/*For Inputs*/
.input-group{
    top: 180px;
    position:absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
   width: 100%;
   padding: 10px 0;
   margin: 5px 0;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   border-bottom: 1px solid #fff;
   color: #fff;
   outline: none;
   background: transparent;
}
.input-field::placeholder{
    color: #fff;
}

.submit-btn{
    color: #fff;
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#3AB4F2,#1F4690);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.forget-pass{
    margin: 30px 5px 30px 0;
    outline: none;
    border: 0;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
}

.forget-pass:hover{
    color: #5b5454;
}

.check-box{
    margin: 30px 10px 30px 0; 
}
span{
    color: #fff;
    font-size: 12px;
    bottom: 66px;
    position: absolute;
}

#login{
    left: 50px;
}

#signin{
    left: 450px;
}

/* footer */
#footer-home{
    overflow: hidden;
    background-color: #D8D8D8;
    position: absolute;
    width: 93.4%;
    display: flex;
    padding: 80px 50px;
}

.other{
    margin-left: 80px;
}

.other h3{
    padding-bottom: 10px;
    font-weight: 800;
}

.other img{
    padding: 0 2px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.contact{
    margin-left: 300px;
}

.contact h3{
    padding-bottom: 10px;
    font-weight: 800;
}

.contact p{
    color: #181818;
    text-align: start;
}

.contact .email-p{
    padding-top: 10px;
}
.contact .email{
    width: 20px;
    height: 20px;
}

.contact strong{
    margin-left: 10px;
}
.contact a{
    text-decoration: none;
    font-size: 15px;
    color: #181818;
}

.contact .phone{
    padding-top: 5px;
    width: 30px;
    height: 30px;
    margin-left: -5px;
}

.footer{
    margin-left: 100px;
    font-family: monospace;
    color: #181818;
    text-align: start;
}
.footer h3{
    padding-bottom: 10px;
    font-weight: 800;
}