*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.bg{
    width: 100%;
    min-height: 100vh;
    /* background: #DFF6FF; */
    background-image: linear-gradient(to right top, #0600ff, #005aff, #0082ff, #00a3ff, #3ac0ff);
    color: #525252;
    position: relative;
}

.logocarx{
    width: 180px;
    margin-left: 143.5px;
}

nav{
    background: #1a1a1a;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

nav ul{
    width: 100%;
    text-align: right;
    margin-right: 144px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}